@import "reset.css";
@import "index.css";
@import "history.css";
@import "roaster.css";
@import "developer.css";

@font-face {
  font-family: "SUITE";
  src: url("SUITE-Regular.ttf") format("truetype");
}

body {
  font-family: "SUITE";
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
